[build]
  publish = "/"
  functions = "admin-v2/functions"

[functions]
  node_bundler = "esbuild"
  included_files = ["data/*.json", "admin-v2/functions/_data/*.json"]

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/:splat"
  status = 200
  conditions = { Role = ["admin"] }

[[redirects]]
  from = "/admin/*"
  to = "/unauthorized.html"
  status = 302
  force = true

[[plugins]]
  package = "./netlify/plugins/admin-build-info"

[context.production]
  functions = "admin-v2/functions"

[context.deploy-preview]
  functions = "admin-v2/functions"

[context.branch-deploy]
  functions = "admin-v2/functions"

[context.dev]
  functions = "admin-v2/functions"
